# This is for .pt to .rknn conversion
# Do this on linux, NOT windows. Use python 3.10.
# Also, run pip install RknnWheels/rknn_toolkit2-2.0.0-py3-none-any.whl
numpy
onnx
onnxruntime
torch
torchvision
opencv-python
protobuf
psutil
scipy
requests
tqdm