# This is for the actual game loop, after conversion to .rknn
# Do this on linux, NOT windows. Use python 3.11.
# Also, run pip install RknnWheels/rknn_toolkit-lite2-2.0.0-py3-none-any.whl
protobuf
opencv-python
numpy
psutil
ruamel.yaml
scipy
tqdm
opencv-python
fast-histogram
onnx
onnxruntime
torch
torchvision
tensorflow==2.15.0
ultralytics
scikit-learn
matplotlib
requests
flask
pygame
Pillow
#snakeviz optional but good for profiling stuff
pyntcore
robotpy