# This is for .pt to .rknn conversion
# Do this on linux, NOT windows. Use python 3.10.
# Also, run pip install RknnWheels/rknn_toolkit2-2.0.0-py3-none-any.whl
torch
onnx
onnxruntime
opencv-python
numpy
scipy
psutil
tqdm
requests